head
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.1/dist/semantic.min.css")
	style
		include style.css

body

	.ui.raised.very.padded.text.container.segment
		h2.ui.header Instructions
		p Instruction text goes here
		

	each sentence, sindex in sentences
		.ui.raised.very.padded.text.container.segment
			h3 Sentence #{sindex+1}
			.ui.form
				.grouped.fields
					.ui.message=sentence
					label Please select the offending words:
					- const splitSentence = sentence.split(' ')
					each word, windex in splitSentence
						- const text = `s${sindex}-w${windex}`
						.field
							.ui.checkbox
								input(id=text, type='checkbox')
								label(for=text) #{word}