head
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.1/dist/semantic.min.css")
	style
		include style.css

body
	.ui.text.container

		.ui.raised.segments
			.ui.center.aligned.padded.secondary.segment
				h1.ui.header Conscent
			.ui.very.padded.segment
				p IRB informed conscent text goes here
			

		.ui.raised.segments
			.ui.center.aligned.padded.secondary.segment
				h1.ui.header English Language Test
			.ui.very.padded.segment
				p Language proficiency test goes here
			

		.ui.raised.segments
			.ui.center.aligned.padded.secondary.segment
				h1.ui.header Concepts Quiz
			.ui.very.padded.segment
				p Learn about toxicity/dehumanizing language/etc.
			
		.ui.raised.segments
			.ui.center.aligned.padded.secondary.segment
				h1.ui.header Instructions
			.ui.very.padded.segment
				p Instruction text goes here

		.ui.raised.segments
			.ui.center.aligned.padded.secondary.segment
				h1.ui.header Tasks

			each sentence, sindex in sentences
				.ui.very.padded.segment
					h3 Sentence #{sindex+1}
					.ui.form
						.grouped.fields
							.ui.message=sentence
							label Please select the offending words:
							- const splitSentence = sentence.split(' ')
							each word, windex in splitSentence
								- const text = `s${sindex}-w${windex}`
								.field
									.ui.checkbox
										input(id=text, type='checkbox')
										label(for=text) #{word}